<!-- admin-dashboard.component.html -->
<div class="container">
    <header class="navbar">
        <div class="logo">
            <img src="assets/logo/bike.png" width = 60px height = 50px alt="Logo" class="logo-img">
            <h1> Admin Dashboard</h1>
        </div>
        <!-- <button class="logout-btn" (click)="authService.logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
        </button> -->
        <div class="navbar-buttons">
          <a class="nav-icon notification-icon" href="#" title="Notifications">
            <img src="assets/logo/notification.png" alt="Notifications">
            <span class="badge">3</span>
        </a>
          <!-- User avatar icon -->
          <div class="dropdown-container" (click)="toggleDropdown()" [class.active]="dropdownOpen">
            <img src="assets/logo/avatar.png" alt="User" class="user-avatar" title="Profile">
            
            <div class="user-dropdown-menu" *ngIf="dropdownOpen">
              <button (click)="authService.logout()">Logout</button>
            </div>
          </div>
      </div>
    </header>

    <div class="dashboard">
        <aside class="sidebar">
            <!-- <img src = "assets/logo/layout.png " width = 25px height = 20px alt="dashboard-logo" class="logo-img"> -->
            <h2>Dashboard</h2>
            <ul>
              <li>
                <a routerLink="sales-revenue" routerLinkActive="active">
                  <i class="fas fa-chart-line"></i> Sales
                </a>
              </li>
              <li>
                <a routerLink="overview" routerLinkActive="active">
                  <i class="fas fa-dollar-sign"></i> Rev & Orders
                </a>
              </li>
                <li class="dropdown">
                  <a (click)="toggleEmployeeDropdown()">
                    <i class="fas fa-users"></i> Employee <i class="fas fa-chevron-down dropdown-icon"></i>
                  </a>
                  <ul *ngIf="isEmployeeDropdownVisible" class="dropdown-menu">
                    <li>
                      <a routerLink="view-employee" routerLinkActive="active">
                        <i class="fas fa-list"></i> View Employee
                      </a>
                    </li>
                  </ul>
                </li>
              
                <li class="dropdown">
                  <a (click)="toggleCycleDropdown()">
                    <i class="fas fa-bicycle"></i> Cycle <i class="fas fa-chevron-down dropdown-icon"></i>
                  </a>
                  <ul *ngIf="isCycleDropdownVisible" class="dropdown-menu">
                    <li>
                      <a routerLink="view-brands" routerLinkActive="active">
                        <i class="fas fa-building"></i> Brands
                      </a>
                    </li>
                    <li>
                      <a routerLink="view-cycle-types" routerLinkActive="active">
                        <i class="fas fa-tools"></i> Cycle Types
                      </a>
                    </li>
                    <li>
                      <a routerLink="view-cycles" routerLinkActive="active">
                        <i class="fas fa-bicycle"></i> Cycles
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a routerLink="order-history" routerLinkActive="active">
                    <i class="fas fa-history"></i> Order History
                  </a>
                </li>
                <li>
                  <a routerLink="customers" routerLinkActive="active">
                    <i class="fas fa-user"></i> Customers
                  </a>
                </li>
              </ul>
        </aside>

        <!-- Main Content -->
        <main class="content">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
